:root {
    --columnsRowsValue: 4;
}

.container {

    display: grid;
    width: 960px;
    border: 15px solid;
    border-color: blueviolet;
    grid-template-columns: repeat(var(--columnsRowsValue), 1fr);
    grid-template-rows: repeat(var(--columnsRowsValue), 1fr);
    
}

.cDiv {
    background-color: orange;
    border-style: solid;
    height: 50px;


    
}