:root {

    --columnsRowsValue: 4;
}

body, html {

    height: 100%;
    width: 100%;

}

.container {

    display: grid;
    height: 100%;
    width: 100%;
    border: 15px solid;
    border-color: blueviolet;
    grid-template-columns: repeat(var(--columnsRowsValue), 1fr);
    grid-template-rows: repeat(var(--columnsRowsValue), 1fr);

    
}

.cDiv {

    background-color: orange;
    border-style: solid;
    height: 1fr;
    width: 1fr;

}

.user {

    display: grid;
    height: 50px;
    width: 100%;
    margin: 5px;
    justify-content: center;


}